@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import "tailwindcss";

*{
  box-sizing: border-box;
  font-family: 'Geist', sans-serif;
}

body {
    background-color: #F4F4F6;
    color: #1A1A1A;
    font-size: 16px;
    height: 100svh;
    width: 100svw;
}

#app{
    height: 100%;
    width: 100%;
}